@model TDLC.UI.Areas.Admin.Models.ViewModels.EquipeViewmodel

@{
    ViewBag.Title = "Adicionar Funcionário";
}

<h2>Adicionar Funcionário</h2>


@using (Html.BeginForm("Criar", "Equipe", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-left">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <br />
        <h4>Dados Funcionário</h4>
        <hr />




        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
            <div class="col-md-10">
                @Html.DropDownList("Tipo",
               EnumHelper.GetSelectList(typeof(TDLC.Infra.Entities.Tipo_Equipe)),
               "-Selecione-",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        


        <div class="form-group">
            @Html.LabelFor(model => model.Ordem, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ordem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ordem, "", new { @class = "text-danger" })
            </div>
        </div>






        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>





        <br />

        <h4>Fotos</h4>
        <hr />

        <div class="row box-upload" style="display:none;">
            <div class="col-md-6" style="vertical-align:middle;padding-left:10px;padding-top:10px;">
                <div class="form-group" style="margin-left:0px;margin-top:0px;">
                    <label for="ArqFotoPopup">Foto Popup</label>
                    <input type="file" id="ArqFotoPopup" name="ArqFotoPopup" style="max-width:100%;" class="fl_imagens">
                    <p class="help-block">Esta foto é exibida ao clicar no funcionário</p>
                </div>
            </div>

            <div class="col-md-6 text-center ">
                <canvas id="ArqFotoPopup_thumb" style="width:442px;height:284px"></canvas>
            </div>
        </div>

        <div class="row box-upload" style="margin-bottom:20px;border-bottom:1px solid #dbdbdb;">

            <div class="col-md-6" style="vertical-align:middle;padding-left:10px;padding-top:10px;">
                <div class="form-group" style="margin-left:0px;margin-top:0px;">
                    <label for="ArqFotoDestaque">Foto Destaque</label>
                    <input type="file" id="ArqFotoDestaque" name="ArqFotoDestaque" style="max-width:100%;" class="fl_imagens">
                    <p class="help-block">Esta foto é exibida na página Equipe </p>
                </div>
            </div>

            <div class="col-md-6 text-center ">
                <canvas id="ArqFotoDestaque_thumb" style="width:442px;height:284px"></canvas>
            </div>
        </div>




        <h4>Informações</h4>
        <hr />

        <!-- cabecalho linguas -->
        <ul class="nav nav-tabs" role="tablist">
            @foreach (TDLC.Infra.Entities.Linguagem l in ViewBag.langs)
            {
                var tmpClasse = (ViewBag.langs as List<TDLC.Infra.Entities.Linguagem>).IndexOf(l) == 0 ? "active" : ""; //se for o primeiro item ele seta como active
                <li role="presentation" class="@tmpClasse"><a href="#tab_@l.id_linguagem" aria-controls="tab_@l.id_linguagem" role="tab" data-toggle="tab">@l.Nome</a></li>
            }
        </ul>

        <!-- corpo linguas -->
        <div class="tab-content">

            @foreach (TDLC.Infra.Entities.Linguagem l in ViewBag.langs)
            {
                var indice = (ViewBag.langs as List<TDLC.Infra.Entities.Linguagem>).IndexOf(l);

                var tmpClasse = (indice == 0) ? "active" : ""; //se for o primeiro item ele seta como active
                <div role="tabpanel" class='tab-pane @tmpClasse ' id="tab_@l.id_linguagem" style="">

                    <input type="hidden" id='Conteudos[@indice].id_linguagem' name='Conteudos[@indice].id_linguagem' value='@l.id_linguagem' />



                    <div class="form-group" style="">
                        @Html.LabelFor(model => model.Conteudos[indice].Cargo, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Conteudos[indice].Cargo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudos[indice].Cargo, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group" style="display:none;">
                        @Html.LabelFor(model => model.Conteudos[indice].AreasAtuacao, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Conteudos[indice].AreasAtuacao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudos[indice].AreasAtuacao, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group" style="display:none;">
                        @Html.LabelFor(model => model.Conteudos[indice].Chamada, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Conteudos[indice].Chamada, new { htmlAttributes = new { @class = "form-control", @style="max-width:100%;width:100%" } })
                            @Html.ValidationMessageFor(model => model.Conteudos[indice].Chamada, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(model => model.Conteudos[indice].Descricao, htmlAttributes: new { @class = "control-label col-md-2 ", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Conteudos[indice].Descricao,  new { @class = "form-control" , @style = "max-width:100%;width:100%;height:200px;" } )

                            
                            @Html.ValidationMessageFor(model => model.Conteudos[indice].Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>











                </div>

            }
        </div>
        <!-- fim corpo linguas-->

        <br />

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">



        $(document).ready(function () {
            //cria o event handler do change dos thumbs
            $(".fl_imagens").change(gerathumb);
        });

        var gerathumb = function (e) {

            var id_controle = e.target.id;

            var canvas = document.getElementById(id_controle + "_thumb");

            var ctx = canvas.getContext('2d');
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    ctx.drawImage(img, 0, 0);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);

        }



        //no change de todos os títulos, preenche os vazios com o título similar ao original
        $(".campotitulo").change(function (e) {

            $(".campotitulo").each(function (idx, obj) {
                if (typeof ($(obj).val()) == 'undefined' || $(obj).val() == "") {
                    $(obj).val($(e.target).val());
                }
            })
        })

    </script>



}
